@charset "UTF-8";
/*
 * css-prettifierテスト用CSS_2
 * Ver.1.0
 */
p, ul {
	margin-bottom: 1em;
}

@media print {
	nav,footer, .list-link-01 {
		display: none;
	}

	html, body {
		background-color: #fff;
	}
}